@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  color: #616368;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

.container {
  padding: 0 15px;
}

.btn-primary {
  background-color: #2500f9;
  border-radius: 28.5px;
  padding: 15px 35px;
  font-weight: 700;
  color: #ffffff;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #242f51;
}

.drag__slide {
  display: flex;
  align-items: center;
  transition: all 1s ease;
  width: 810px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
    padding: 15px;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }

  .header {
    background: url("./public/assets/images/purple.png") no-repeat 140px 130px,
      url("./public/assets/images/circles.png") no-repeat 140px 90px,
      url("./public/assets/images/city.png") no-repeat bottom center;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}
